/* Styles for Mobile Device */
/* h1 {
    font-size: 1.5em;
} */

/* Styles for Tablet Device */
/* @media (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
} */

/* Styles for Desktop Device */
/* @media (min-width: 1024px) {
    h1 {
        font-size: 3em;
    }
} */
* {
    margin: 0;
    padding: 0;
}

#btn {
    font-size: 13.333333333px;
    width: 4.5em;
}